/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: clamp(1.125rem, 1.0494rem + .3782vi, 1.333rem);
  font-family: system-ui;
  color: #ffffff;
  background-color: #181818;
  line-height: 1.5;
}

h1 {
  line-height: 1.1;
  font-size: clamp(4rem, 3.0909rem + 4.5455vi, 6.5rem);
}

/* Utility */
.wrapper {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.flow > * + * {
  margin-top: 1.5em;
}

.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100svh;
}
.cover > :is(h1, main, .hero) {
  margin-block: auto;
}

/* Main */
header, footer {
  text-align: center;
  padding: 3.25em;
  background-color: #282828;
}
main {
  text-align: center;
  padding-block: 2em;
}